<div>
    <div class="row">
        <div class="col-xxl-4">

        </div>

        <div class="col-xxl-8">
            Advokátem jsem od 1. 1. 2005. V následných 13 letech jsem byl společníkem v Advokátní kanceláři
            Poprach&nbsp;&&nbsp;Poprachová&nbsp;&&nbsp;Hruška. Poté, co mí společníci s odchodem do starobního důchodu ukončili výkon
            advokacie, pokračuji v činnosti této advokátní kanceláře jako samostatný advokát. Má advokátní kancelář
            poskytuje právní porady, zastupuje v řízení před soudy a správními orgány, sepisuje smlouvy, podání
            a právní rozbory a poskytuje pomoc při vymáhání pohledávek. Konzultace poskytujeme v oblasti českého
            práva, a to v jazyce českém a anglickém.
        </div>
    </div>
</div>
