<div class="container-fluid bg-primary py-4 text-white" id="copyright-container">
    <div class="container-lg d-flex">
        <p class="mb-0 flex-grow-1">
            <img src="{{ "assets/images/logo-footer.png"|theme }}" alt="">
        </p>

        <p class="mb-0 text-center flex-grow-1 d-none d-sm-flex justify-content-center align-items-center">
            &copy; {{ "now"|date("Y") }} Advokátní kancelář Hruška
        </p>

        <p class="mb-0 signature flex-grow-1 d-flex justify-content-end align-items-center">
            <a href="https://www.hucr.cz" target="_blank">
                <span class="bg-white"></span>
            </a>
        </p>
    </div>
</div>
