<ul class="nav nav-pills {% if mobile %}flex-column{% endif %}">
    <li class="nav-item">
        <a href="#sluzby" class="nav-link">Služby</a>
    </li>
    <li class="nav-item">
        <a href="#nas-tym" class="nav-link">Náš tým</a>
    </li>
    <li class="nav-item">
        <a href="#cena" class="nav-link">Cena</a>
    </li>
    <li class="nav-item">
        <a href="#kontakt" class="nav-link">Kontakt</a>
    </li>
    <li class="nav-item">
        <a href="#gdpr" class="nav-link">GDPR</a>
    </li>
</ul>
