<div class="accordion" id="services-accordion">
    <div class="accordion-item">
        <p class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-01">
                Občanské právo
            </button>
        </p>
        <div id="collapse-01" class="accordion-collapse collapse" data-bs-parent="#services-accordion">
            <div class="accordion-body">
                <p>
                    Naše kancelář se zaměřuje především na poskytování právních služeb v oblasti občanského práva, a to
                    jak podle nového občanského zákoníku (zákona č. 89/2012 Sb.), tak podle dnes již zrušeného občanského
                    zákoníku (zákona č. 40/1964 Sb.) a zrušeného obchodního zákoníku. Vysoce profesionální služby jsme
                    schopni Vám zajistit např. v těchto oblastech:
                </p>
                <ul class="list-custom list-unstyled mb-0">
                    <li>Zastupování v řízení před soudy</li>
                    <li>Sepis občanskoprávních smluv (smlouvy kupní, darovací, nájemní apod.)</li>
                    <li>Převody nemovitostí a pozemkové právo</li>
                    <li>Výchova a výživa nezletilých dětí</li>
                    <li>Rozvodové právo, vypořádání společného jmění manželů</li>
                    <li>Vypořádání podílového spoluvlastnictví</li>
                    <li>Služebnosti, věcná břemena</li>
                    <li>Zástavní právo</li>
                    <li>Bytové spoluvlastnictví včetně právní problematiky společenství vlastníků jednotek</li>
                    <li>Náhrada škody</li>
                    <li>Spory z bezdůvodného obohacení</li>
                    <li>Spory o výplatu pojistného plnění</li>
                    <li>Cenné papíry - směnky</li>
                    <li>Advokátní úschova</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-02">
                Právo obchodních korporací
            </button>
        </p>
        <div id="collapse-02" class="accordion-collapse collapse" data-bs-parent="#services-accordion">
            <div class="accordion-body">
                <p>
                    Specializujeme se též na právo obchodních korporací podle zákona č. 90/2012 Sb., v platném znění,
                    který s účinností od 1.1.2014 v oblasti úpravy obchodních společností nahradil obchodní zákoník.
                    Můžete se tedy na nás s důvěrou obrátit v případě, že pořebujete právní služby v některé z těchto
                    oblastí:
                </p>
                <ul class="list-custom list-unstyled mb-0">
                    <li>zákládání obchodních společností či družstev</li>
                    <li>zajištění souladu zakladatelských dokumentů obchodních korporací s novým zákonem o obchodních korporacích</li>
                    <li>sepisování smluv o výkonu funkce pro statutární orgány obchodních společností a družstev</li>
                    <li>zápisy změn do obchodního rejstříku</li>
                    <li>příprava smluvní dokumentace používané obchodními korporacemi</li>
                    <li>rizika spojená s výkonem funkce statutárního orgánu korporace</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-03">
                Trestní právo
            </button>
        </p>
        <div id="collapse-03" class="accordion-collapse collapse" data-bs-parent="#services-accordion">
            <div class="accordion-body">
                <p class="mb-0">
                    V oblasti trestního práva jsem schopni zajistit Vám jak obhajobu v případě, že vůči Vám bylo
                    zahájeno trestní stíhání, tak zastoupení poškozeného v případě, že jste se stali obětí trestné
                    činnosti.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-04">
                Pracovní právo
            </button>
        </p>
        <div id="collapse-04" class="accordion-collapse collapse" data-bs-parent="#services-accordion">
            <div class="accordion-body">
                <p class="mb-0">
                    Poskytujeme komplexní právní služby v oblasti práv a povinností vyplývajících z pracovněprávních
                    vztahů jak pro firemní klientelu z pozice zaměstnavatele, tak pro občany z pozice zaměstnance.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <p class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-05">
                Insolvenční právo
            </button>
        </p>
        <div id="collapse-05" class="accordion-collapse collapse" data-bs-parent="#services-accordion">
            <div class="accordion-body">
                <p class="mb-0">
                    V této oblasti se specializujeme především na příhlašování pohledávek do insolvenčního řízení a na
                    právní poradenství pro věřitele  dlužníků, proti nimž bylo insolvenční řízení zahájeno.
                </p>
            </div>
        </div>
    </div>
</div>
