<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
    <div class="col">
        <div class="img">

        </div>

        <div class="text bg-white p-4">
            <p class="h4 name text-secondary mb-4 fw-normal">
                JUDr. Michal Hruška
            </p>

            <p class="mb-4 text-dark">
                zapsán v seznamu advokátů vedeném Českou advokátní komorou pod číslem 10502
            </p>

            <p class="mb-4 text-dark">
                IČ: 71330895 <br>
                IDDS: 9eyhgdj
            </p>

            <ul class="list-unstyled list-custom mb-4 text-dark">
                <li>zastupování v civilních soudních sporech</li>
                <li>pracovní právo</li>
                <li>právo obchodních společností</li>
                <li>převody nemovitostí</li>
                <li>směnečné právo</li>
                <li>trestní obhajoba - hospodářská trestná činnost</li>
                <li>rozvody</li>
            </ul>

            <p class="mb-0 text-dark">
                <i class="bi bi-telephone me-1"></i> <a href="tel:+420 499 815 742">+420 499 815 742</a> <br>
                <i class="bi bi-phone me-1"></i> <a href="tel:+420 605 905 653">+420 605 905 653</a> <br>
                <i class="bi bi-envelope me-1"></i> <a href="mailto:hruska@akpph.cz">hruska@akpph.cz</a> <br>
                <i class="bi bi-envelope me-1"></i> <a href="mailto:kancelar@akpph.cz">kancelar@akpph.cz</a>
            </p>
        </div>
    </div>

    <div class="col">
        <div class="img">

        </div>

        <div class="text bg-white p-4">
            <p class="h4 name text-secondary mb-4 fw-normal">
                Mgr. Jiří Rejl
            </p>

            <p class="mb-4 text-dark">
                trvale spolupracující advokát, zapsán v seznamu advokátů vedeném Českou advokátní komorou pod číslem
                17795
            </p>

            <p class="mb-0 text-dark">
                <i class="bi bi-telephone me-1"></i> <a href="tel:+420 499 815 742">+420 499 815 742</a> <br>
                <i class="bi bi-phone me-1"></i> <a href="tel:+420 605 315 830">+420 605 315 830</a> <br>
                <i class="bi bi-envelope me-1"></i> <a href="mailto:rejl@akpph.cz">rejl@akpph.cz</a>
            </p>
        </div>
    </div>

    <div class="col">
        <div class="img">

        </div>

        <div class="text bg-white p-4">
            <p class="h4 name text-secondary mb-4 fw-normal">
                Pavlína Hrušková
            </p>

            <p class="mb-4 text-dark">
                asistentka
            </p>

            <p class="mb-0 text-dark">
                <i class="bi bi-telephone me-1"></i> <a href="tel:+420 499 815 742">+420 499 815 742</a> <br>
                <i class="bi bi-phone me-1"></i> <a href="tel:+420 603 272 230">+420 603 272 230</a> <br>
                <i class="bi bi-envelope me-1"></i> <a href="mailto:pavlinahruskova@email.cz">pavlinahruskova@email.cz</a>
            </p>
        </div>
    </div>

    <div class="col">
        <div class="img">

        </div>

        <div class="text bg-white p-4">
            <p class="h4 name text-secondary mb-4 fw-normal">
                Tobiáš Hruška
            </p>

            <p class="mb-4 text-dark">
                právní asistent
            </p>

            <p class="mb-0 text-dark">
                <i class="bi bi-phone me-1"></i> <a href="tel:+420 733 480 586">+420 733 480 586</a> <br>
                <i class="bi bi-envelope me-1"></i> <a href="mailto:kancelar@akpph.cz">kancelar@akpph.cz</a>
            </p>
        </div>
    </div>
</div>
